.postContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.post {
  width: 30%;
  padding-right: 10px;
}

.post h3 {
  font-size: 36px;
}

.post span {
  color: #fec92e;
  font-family: "Helvetica Neue"
}

@media (max-width: 1000px) { 
  .postContainer {
    justify-content: space-around;
  }

  .post {
    width: 40%;
  }
}

@media (max-width: 800px) { 
  .postContainer {
    justify-content: space-around;
  }

  .post {
    width: 100%;
  }
}