.postContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.post {
  width: 400px;
  padding: 0 10px;
}

.post h3 {
  font-size: 36px;
}

.post span {
  color: #fec92e;
  font-family: "Helvetica Neue"
}

@media (max-width: 800px) { 
  .post {
    width: 300px;
  }
}

@media (max-width: 600px) { 
  .post {
    width: 100%;
  }
}